{%extends 'layout/main.html'%}

{%block content %}
<section class="py-5 text-center container" style="margin-top:70px;">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Bestseller</h1>
            <p class="lead text-muted ">popular product</p>
            <p>
                <a href="" class="btn btn-dark my-2">Excisting user</a>
                <a href="" class="btn btn-dark my-2">Register</a>
                </p>
        </div>
    </div>
</section>
<section class="bg-light py-4 my-5">
  <div class="container">
    <div class="row">
     <div class="col-12">
        <h4 class="mb-3">Categories</h4>
        <hr style="border-color:#b8bfc2;">

     </div>
     {% for item in category %}
    <div class="col-md-4 col-lg-3">
        <div class="card my-5">
            <img src="{{ item.image.url }}" class="card-img-top" alt="Categories">
            <div class="card-body">
                <a href="{% url 'collectionview' item.name %}">
                <h5 class="card-title text-primary">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                </a>
        </div>
    </div>
    
 </div>
 {% endfor %}
</div>
</section>





{%endblock content %}